* {
    margin: 0;
    padding: 0;
}

body{
    /* background: radial-gradient(#345b63, #112031); */
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.display{
    width: 592px;
    height: 190px;
    padding: 10px;
    text-align: end;
    font-size: 100px;
    border: none;
    margin-bottom: 4px;
    border-radius: 20px;
    /* background-color: #112031; */
    color: white; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: auto;
}

p{
    margin-right: 20px;
    overflow-x: auto;
    color: white;
}

p::-webkit-scrollbar {
    width: 100px;
    height: 20px;
    align-items: flex-end;             
  }
  
  p::-webkit-scrollbar-track {
    background: #D4ECDD;
    border-radius: 20px;       
  }
  
  p::-webkit-scrollbar-thumb {
    background-color: #345b63;    
    border-radius: 20px;      
    border: 3px solid #D4ECDD; 
  }

.calcIntern {
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    box-shadow: #00000070 0 0 30px;
}

button {
    padding: 15px;
    width: 23%;
    height: 150px;
    font-size: 60px;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #1D1D1D;
    color: white;
    border: none;
    border-radius: 100%;
    transition: all 0.5s;
    text-align: center;
    vertical-align: middle;
}

.botaoOperacao{
    background-color: #dd8c1b;
    color: white;
}

.numero-0 {
    width: 458px;
    border-radius: 20px;
}

.botaoClear {
    width: 72%;
    background-color: #414141;;
    transition: all 0.5s;
    border-radius: 20px;
}

.operacoes {
    background-color: #112031;
    transition: all 0.5s;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    filter: brightness(120%);
}